<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.myfishy">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/NoActionBar">
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.create_meal.CreateMealActivity"
                android:parentActivityName=".MainActivity"
                android:theme="@style/ActionBarTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=
                            "com.example.android.myfishy.ui.create_meal.CreateMealActivity" />
        </activity>

        <activity android:name=".ProfileActivity">

        </activity>
        <activity android:name=".Nutrition"/>
        <activity
                android:name=".MaxActivity"
                android:theme="@style/AppTheme"/>


    </application>

</manifest>